<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eli.game4" version="2.25" xmlns="http://www.w3.org/ns/widgets">
 <plugin name="cordova-plugin-fullscreen" />
 <preference name="Fullscreen" value="true" />
 <preference name="DisallowOverscroll" value="true" />
 <preference name="StatusBarOverlaysWebView" value="true" />
 <name>Game 4</name>
 <icon src="images/icon.png" />


</widget>
