<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eli.todolist" version="2.25" xmlns="http://www.w3.org/ns/widgets">
 <plugin name="cordova-plugin-fullscreen" />
 <preference name="Fullscreen" value="true" />
 <preference name="DisallowOverscroll" value="true" />
 <preference name="StatusBarOverlaysWebView" value="true" />
 <name>TodoList</name>
 <icon src="" />


</widget>
